extends layout

block content
    body.form
        h2.form_title New Password Form
        form(action='/accounts/passUpdate', enctype='multipart/form-data', method='POST')
            | Password:
            input(type='password', name='current_password')
            br
            |         New Password:
            input(type='password', name='new_password')
            br
            |         Confirm New Password:
            input(type='password', name='confirm_new_password')
            br
            input.button(type='submit', value='Submit')