extends layout

body.form
    div.logo-section
        a(href="/")
            img(src='/images/icon.png')
            h3 Swarm Inc.
    h1 You are not logged in!
        div
            img.logo(src='/images/icon.png')
        div.login
            a(href='/login') Log in!
            br
            | Not registered yet?&nbsp;
            a(href='/userForm') Register!