extends layout

block content
    body.form
        div.logo-section
            a(href="/")
                img(src='/images/icon.png')
                h3 Swarm Inc.
        h2.form_title Password Reset Form
        form(action='/accounts/passReset', enctype='multipart/form-data', method='POST')
            | E-Mail:
            input(type='text', name='email')
            br
            |             Name:
            input(type='text', name='name')
            br
            |             Surname:
            input(type='text', name='surname')
            br
            |             Username:
            input(type='text', name='username')
            br
            input.button(type='submit', value='Submit')