extends layout

block content
    body.form
        div.logo-section
            a(href="/")
                img(src='/images/icon.png')
                h3 Swarm Inc.
        h2.form_title Change User Data Form
        form(action='/data/updateUser', method='POST')
            |             First Name:
            input(type='text', name='first_name')
            br
            |             Last Name:
            input(type='text', name='last_name')
            br
            |             Username:
            input(type='text', name='username')
            br
            input.button(type='submit', value='Submit')